
.custom-form{
    background: #F99417;
    border-radius: 10px;
}

.custom-form__label

{
    font-size:13px;
    font-weight:800;    
}

custom-form-input

{
    background: #F5F5F5;
    border-radius:10px;    
}

.login__ingresar-btn{
    border-radius:10px;
    background-color:#5D3891;
    color:#FFFFFF;
    font-weight:800;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.login__ingresar-btn:hover{
    color:#FFFFFF;
}

